@charset "UTF-8";
/* CSS Document */

@font-face
{
    font-family: Titil;
    src: url('../fonts/TitilliumMaps26L-1wt.eot');
    src: local(TitilliumMaps26L-1wt), url('../fonts/TitilliumMaps26L-1wt.ttf') format('opentype');
}

@font-face
{
    font-family: PLOVR;
    src: url('../fonts/PLOVR.eot');
    src: local(PLOVR), url('../fonts/PLOVR.ttf') format('opentype');
}


a:link {color:#0193c9; text-decoration:none;}      /* unvisited link */
a:visited {color:#0193c9;}  /* visited link */
a:hover {color:#027ca9;}  /* mouse over link */
a:active {color:#01678d;}  /* selected link */


div.full
{	
	width: 960px;
	height: 570px;
	margin-top: 0px;
  	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}

div.header
{
	background: url(../images/header/Header.gif) center no-repeat;
	height: 100px;	
}

ul.mainContent 
{
  	list-style: none;
  	padding: 0;
	font-family:Titil, Georgia, Verdana;
}

ul.mainContent li{
  float: left;
  padding: 10px;
  margin-right: 0px;
  background-color:#f6f6f6;
  height: 560px;
  width:30px;
  overflow:hidden;
}

ul.mainContent li a{
  height: 500px;
  width: 30px;
}

/*   -------------------------- 
 		Navigation 				*/
div.nav
{
	width: 30px;
	height: 490px;
	margin-top: 21px;	
	cursor: pointer;
}

#nav_home
{
	background:url(../images/Nav/exhibit.png) no-repeat;	
}

#nav_projects
{
	background:url(../images/Nav/Student.png) no-repeat;	
}

#nav_alumni
{
	background:url(../images/Nav/alumni.png) no-repeat;	
	font-family: Titil, Georgia, Verdana;
	font-size: 10.5pt;
	line-height: 15pt;
}
	#nav_alumni p
	{
		padding:0 0 10px 0;
		margin:0;
		width:100%;
	}
	
	#nav_alumni #AlumniTitle p
	{
		font-size: 12pt;
	}
	
	#nav_alumni hr
	{
		
		border:0;
		height:2.5px;
		color:#FFD27C;
		background-color:#FFD27C;
		margin-bottom:20px;
	}

#nav_sponsors
{
	background:url(../images/Nav/sponsors.png) no-repeat;
}
	#nav_sponsors p
	{
		font-size:10pt;
		line-height:14pt;
	}

#nav_staff
{
	background:url(../images/Nav/staff.png) no-repeat;
}

ul.mainContent li span
{
	font-family: Titil, Georgia, Verdana;
}


#home
{
  width: 740px;
  background:#c2d933;
}
	#home p#parking
	{
		font-size: 8pt;
	}

#projects
{
  	background:#099ec9;
}

#alumni
{
 	background:#fdba14;
}

	div#alumniTitle p
	{
		font-size: 12pt;
	}
	
	#alumniMap
	{
		float:right;
		margin:0;
		width:490px;
	}
		#alumniMap p
		{
			padding-bottom: 10px;
		}
	
	#alumniPics
	{
		width:160px;
		text-align:center;
	}
	
	#alumniPics img
	{
		padding-bottom:19px;
	}
	
	#alumniPics #portrait
	{
		float: left;
	}
	
	#alumniPics p
	{
		font-family:Titil, Georgia, Verdana;
		text-align: center;
		font-size:9pt;
	}

#sponsor
{
	background:#d0d0d0;
}
	#sponsor_LogoBox
	{
		width:550px;
		margin-left:auto;
		margin-right:auto;
	}
	
	#sponsor_LogoBox img
	{
		display:inline-block;
		float:left;
		padding:0 10px 0 10px;
	}

#staff
{
  	background:#5d5d5d;
}
	#staff_header
	{
		width:100%;
		font-family:Georgia, "Times New Roman", Times, serif;
	}
	
	#staff_faculty
	{
		display:block;
		float:left;
		width:50%;
	}
	
	#staff_staff
	{
		display:block;
		float:left;
		width:50%;
	}
	
	#staff .staff_type{
		color:#999999;
	}
	
	#staff .staff_smlTxt{
		font-size:8pt;
	}


/* -------------------------- 
 		Content 			 
   --------------------------*/
   
.content
{
	font-family:Titil, Georgia, Verdana;
	margin-top: 0px;
	padding-top: 0px;
	margin-left: 50px;
	width: 680px;
	height: 500px;
	cursor: default;
}

#theme
{
	font-family:Titil;
	/*width:840px;*/
	/*height:1221px;*/
	margin-left:0;
  	margin-right:auto;
	padding-top:100px;
}


#map
{
	float:right;
	width:293px;
}

	#map hr
	{
		border:0;
		height:2.5px;
		color:#D8E588;
		background-color:#D8E588;
		margin-top:23px;
	}
	
	#map p
	{
		font-family: Titil, Georgia, Verdana;
		font-size:14px;
		margin:0;
		width:inherit;
		margin-bottom:8px;
		padding-top:12px;
	}

ul.mainContent li a
{
	cursor: pointer;
}

ul.mainContent li a:link, ul.mainContent li a:visited
{
	color:#FFF;
}

ul.mainContent li a:hover, ul.mainContent li a:active
{
	color:#5D5D5D;
}
/*ul li p{
  margin: 0;
  padding: 0;
  width: 210px;
  display: block;
  margin-left: 30px;
}*/


/* -------------------------- 
 		Projects 			 
   --------------------------*/

#projects_info
{
	height: 86px;
	width: 680px;
	overflow: hidden;
	color: white;
	
}
	#proj_group
	{
		display: block;
		float: left;
		width: 454px;
	}
	
	h1#proj_name
	{
		font-weight:normal;
		height:40px;
		margin-bottom:0;
		margin-top:0;
	}
	
	h3#proj_client
	{
		font-weight:normal;
		margin: 0;
		height: 20px;
	}

	#project_nav
	{
		height: 35px;
		width: 170px;
		display: block;
		float: right;
	}
		#prevProj
		{	
			cursor: pointer;
			height: 22px;
			width: 	77px;
			float: left;
			border-right-color:white;
			border-right-style:solid;
  			border-right-width:2px;
  			padding-right: 8px;
  			background: url(../images/Nav/prev_norm.gif) no-repeat;
		}
		
		#prevProj:hover
		{
			cursor: pointer;
			background: green;
			background: url(../images/Nav/prev_over.gif) no-repeat;
		}
		
		#nextProj
		{
			cursor: pointer;
			background: url(../images/Nav/next_norm.gif) no-repeat;
			height: 22px;
			width: 	75px;
			float: 	right;
		}
		#nextProj:hover
		{
			cursor: pointer;
			background: fuchsia;
			background: url(../images/Nav/next_over.gif) no-repeat;
		}
	
	#projects_info hr
	{
		margin-top:16px;
		width:680px;
		border: 0;
		height: 2px;
		background: #46B9D9;
	}

#proj_content
{
	overflow: hidden;
	padding: 20px; 
	margin: 20px 0px;
	height: auto;
	background: white;
}
	#proj_logo
	{
		border: dashed lightgrey 2px;
		width: 200px;
		height: 140px;
		margin-right: 20px;
		display: inline-block;
		float: left;
		background: url(../images/logos/groups/adaptive.png) no-repeat;
	}


/*///// FILTERS ////////*/
.sorting_box
{
	display:block;
	font-family: Titil, Georgia, Verdana;
}
	.content hr
	{
		height: 2px;
		border: 0;
		border-bottom: solid 2px #46B9D9;
		
	}
	
	.sorting_box fieldset
	{
		border:  none;
		margin: 15px 0 0 0;
		font-size: 14pt;
		padding: 0;
	}

	.sorting_box input
	{
		display: none;
	}
	
	.sorting_box legend, .sorting_box label
	{
		cursor:pointer;
		display:inline;
		float: left;
		font-size:11pt;
		padding-right:11px;
	}
	
	.sorting_box legend#view, label#all
	{
		width: 0;
		padding: 0;
		overflow: hidden;
		white-space: nowrap;
	}
	
	.sorting_box label
	{
		font-size: 10pt;
		padding-top: 2px;
		vertical-align: bottom;
		color: 			white;
	}
	
	.sorting_box label:hover
	{
		color: #88CCE3;	
	}
	
	.sorting_box label.focused
	{
	    color: #88CCE3;
	    cursor: default;
	}
		/* unchecked labels */
		label#all
		{
			padding-top: 2px;
		}
		
		label#rim
		{
		}
		
		label#omnr
		{
		}
		
		label#cpc
		{
		}
		
		label#st
		{
		}
		
		label#lt
		{
		}
	
		/* checked labels */
		label#all .focused
		{
		}
		
		label#rim .focused
		{
		}
		
		label#omnr .focused
		{
		}
		
		label#cpc .focused
		{
		}
		
		label#st .focused
		{
		}
		
		label#lt .focused
		{
		}

/*/////// GALLERY //////////*/

ul.image-grid {
	padding: 0;
	padding-bottom: 5px;
	width: 	700px;
}

ul.image-grid:after {
  content: "";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}

ul.image-grid li {
  color:#686F74;
  float:left;
  height:80px;
  padding:0;
  margin: 0 19px 9px 0;
  overflow:hidden;
  text-align:center;
  width:80px;
  position:relative;
  cursor: pointer; 
/*  overflow: hidden;
*/}

ul.image-grid li img{
	
}



ul.image-grid li .stuName{
	position:absolute;
 	background-color:#333;
	opacity:0.7;
	filter:alpha(opacity=70);
	font-size: 9pt;
	bottom:0;
	right:0;
	width:100%;
	z-index:5;
	line-height:10px;
	color:#fff;
	}

.stuName div{
	display: none;
}
.stuName strong, 
.stuName span {
	font-size:10.5pt;
	font-weight:normal;
	height:39px;
	line-height:18px; 
}
